.body{
    width:100%;
    display:block;
    float: left;
    background-image: url("C:/Users/HP/Desktop/Projekti per Internet/fotot/repeat-image.jpg");
    background-repeat: repeat;
    padding:100px;
    z-index: -1;
}
.side{
    width:20%;
    height:100%;
    display:block;
    float: left;
    background-color: #f76c6c;
    box-shadow: 0 0 20px #161626;
}
.video{
   padding:50px;
   margin-top:20px;
   background-color: rgba(16,16,26,0.9);
   border-radius:10px;
}
.teksti{
    position:relative;
    display:inline-block;
    width:560px;
    height:315px;
    color:#f2f2f4;
    margin-left:60px;
}
.teksti div{
    position:absolute;
    color:#f2f2f4;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-left:60px;
    margin-top:140px;
}
.teksti button{
    width:100px;
    height:50px;
    font-family: 'Montserrat', sans-serif;
    color:#f2f2f4;
    font-size:20px;
    background-color: #f76c6c;
    outline:none;
    border-radius: 5px;
    border-color:#f2f2f4;
}


